*{
    box-sizing: border-box;
    margin: 0px;
}
h1{
    text-align: center;
    margin: 20px;
}
main{
    width: 850px;
    margin: 0px auto;
}
p{
    width: 100%;
    padding: 10px;
}
img {
    float: right;
    width: 60%;
    padding-left: 20px;
}